* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}
header {
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
}
.logo img {
    height: 60px;
}
.nav {
    display: flex;
    gap: 70px;
}
.nav a {
    text-decoration: none;
    color: black;
}

.imagen-introduccion {
    position: relative;
    color: white;
}

.imagen-introduccion img {
    width: 100%;
    filter: brightness(30%);
}

.texto-imagen {
    position: absolute;
    top: 40%;
    left: 42%;
    font-size: 3.5rem;
    color: white;
}
.community-bulletin {
    text-align: start;
    padding: 40px 20px;
    background-color: white;
}
.community-bulletin h3 {
    margin-bottom: 20px;
    font-weight: bold;
}

.community-bulletin p {
    font-size:small;
}
.tarjetas {
    margin-top: 50px;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.tarjeta {
    background-color: #00497E;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: left;
}

.community-bulletin img {
    position: absolute;
    margin-top: 30px;
    right: 50%;
}

.seccion-hombre{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    background-color: white;
}
.seccion-juntos {
    display: flex;
    max-width: 100%;
    background-color: #00497E;
    border-radius: 10px;
}
.imagen-hombre img {
    width: 250px;
    background-color: #00497E;
    height: 300px; 
    background-size:contain;
}
.texto-hombre {
    background-color: #00497E;
    color: white;
    padding: 20px;
}

footer{
    height: 200px;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
}
